<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Into Infinity</title>
<head>
	<script type='text/javascript' src='/media/jquery-1.2.6.min.js'></script>
	<script type='text/javascript' src='/media/jquery.form.js'></script>
	<script type='text/javascript' src='/media/nesting.js'></script>
<style>
body{font-family:Courier New, courier; font-size:13px;background-color:black;color:white;}
html{height:110%;}
img{border:0px;}
#stage{position:relative;width:600px;height:700px;margin:auto;text-align:center;margin-top:40px;}
#one{position:absolute;width:600px;height:600px;top:0;left:0;z-index:10;}
#two{position:absolute;width:300px;height:300px;top:115px;left:115px;z-index:20;}
#three{position:absolute;width:150px;height:150px;top:225px;left:225px;z-index:30;}
#controls{position:absolute;margin:auto;width:600px;top:640px;text-align:center;}
a:link, a:visited {color:#777;}
</style>

<body>

<div id="stage">Loading...
<div id='one'><img src=""></div>
<div id='two'><img src=""></div>
<div id='three'><img src=""></div>
<div id='controls'>
<img id='play' src="/media/play_white.png">
<img id='pause' src="/media/pause_black.png">

<br/><br/><br/><br/><br/>

<p>
<a href="/exhibition/about">ABOUT</a> | <a href="/exhibition/artists">ARTIST INDEX</a> | <a href="/exhibition/downloads">DOWNLOADS</a> | <a href="/exhibition">EXHIBITION</a> | <a href="/mixer">MIXER</a>
</p>


<p>
  <a href="http://dublab.com/"><img src="/media/d1_inv.png"></a> 
  <a href="http://creativecommons.org/"><img src="/media/cc1_inv.png"></a><br/><br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
     <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" />
  </a>
</p>

</div>
</div>







</body>

</html>
